.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }
  
  .gradient-custom-2 {
  /* fallback for old browsers */
  background: #6db784;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(70, 184, 155), rgba(194, 233, 251, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(69, 190, 160), rgba(194, 233, 251, 1))
  }
  
  .bg-indigo {
  background-color: #4835d4;
  }
  @media (min-width: 992px) {
  .card-registration-2 .bg-indigo {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  }
  }
  @media (max-width: 991px) {
  .card-registration-2 .bg-indigo {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  }
  }




